# Semana 07
Leonardo Breña Santi

In [ ]:
Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

2. variables

In [ ]:
Siempre

In [1]:
edad = 41

In [2]:
edad

41

In [3]:
nombre = "Leonardo"

In [4]:
nombre

'Leonardo'

In [5]:
apellido = "Breña Santi"

In [6]:
apellido

' Breña Santi'

In [12]:
nombrecompleto = nombre +""+ apellido

In [13]:
nombrecompleto

'Leonardo Breña Santi'

In [16]:
# para saber el tipo de variable utilizaremos la funcion type()
# por ejemplo:
numero = 50
type(numero)

int

In [20]:
#convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [21]:
type(cadena)

str

In [22]:
#para convertir una cadena en un entero utilzamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [25]:
# Para convertir un cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [26]:
type(numero2)

float