# Semana 07
Leonardo Breña Santi

# Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

### 5. Operadores

In [1]:
# 5.1 operadores aritmeticos
# se tiene +, *, /, "", %,

In [6]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [7]:
# 5.2 operadores de asignacion
numero = 5
numero = numero +3
print(numero)

8

In [8]:
numero = 5
numero +=3
print(numero)

8

In [9]:
numero = 5
numero = numero ** 3
print(numero)

125

In [12]:
numero = 5
numero **= 5
print(numero)

3125

In [13]:
#operadores de comparacion
#ejemplo de igualdad
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [14]:
# con cadenas es iguak
nombre1 = "juan"
nombre2 = "juan"
nombre1 == nombre2

True

In [15]:
# El not invierte el resiltado
not(numero1<numero2)

True

In [16]:
numero1<numero2 and numero3<numero4

False

In [19]:
# tambien puedes utilizar parentesis para ordenar tu operacion
(numero1<numero2 and numero3<numero4) or (numero3<numero4)

NameError: name 'numero3' is not defined

In [17]:
#5.5 Operadores de pertenencia
# se tiene: in, not in

In [22]:
# miremos un ejemplo:
aula = ["leonardo","Daniel","Ruben"]
alumno1="Roberto"
alumno2="leonardo"
alumno1 not in aula

True

In [23]:
# 5.6 operadores de indentidad
# se tiene: is, is not

In [25]:
aula1 = ["juan","daniel","Ruben"]
aula2 = ["juan","daniel","Ruben"]
# A continuacion vamos a indicar que aula3 va a
# compartir el mismo obejto que aula1
aula3 = aula1

In [26]:
aula3 is aula1

True

In [27]:
aula3 is aula2

False

In [28]:
aula2 is aula1

False

In [29]:
aula1.append("diego")

In [30]:
print(aula1)

['juan', 'daniel', 'Ruben', 'diego']

In [31]:
print(aula3)

['juan', 'daniel', 'Ruben', 'diego']