# Semana 07
leonardo Breña Santi

# Temas:
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por teclado
    5. Operadores

### 3. Manejo de cadenas

In [2]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [ ]:
#Universidad Nacional Tecnologica de Lima Sur
#01234...
#...-3-2-1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
#tambien considera los espacios
cadena[11]

' '

In [7]:
# ¿Que nos mostrara?
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [11]:
#tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [13]:
# PAra mostrar una subcadena [desde, hasta una antes]
# En java era Substring()
cadena[3:8]

'versi'

In [15]:
# Para saber el tamaño de una cadena utilizamos len()
# Incluye espacios en blanco
len(cadena)

44

In [18]:
#Para mostrar una cadena mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [19]:
#PAra mostrar una cadena mayuscula utilizamos Lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [20]:
# Para mostrar una cadena en minuscula utilizamos split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [24]:
# Generar una lista tilizando un criterio de separacion a partir de una cadena.split()
# en este caso vamos a generar una lista de toda la cadena.
# utilizando como criterio de separacion la letra "A"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [27]:
#Forma clasica, concatenar con +
nombre = "Leonardo Breña"
print("Buenas Tardes " + nombre)

Buenas Tardes Leonardo Breña

In [29]:
#Utilizando el .format()
nombre = "Leonardo Breña"
edad = 18
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Leonardo Breña ya se que tienes 18 años

In [39]:
# Dar formato a números con muchos decimales 
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333